body {
	--parallax-background: ;

	--main-bg-color: rgb(30, 33, 36);
	--main-font-color: white;
	--main-link-color: #006FFF;

	--shadow-color: rgba(4, 7, 10, 0.8);

	--modules-header-color: rgb(70, 77, 84);
	--modules-bg-color: rgb(50, 55, 60);

	--blocks-bg-color: rgb(60, 66, 72);

	--orders-bg-color: rgba(0, 0, 0, 0.2);

	--accent-light: rgb(30, 33, 36);
	--accent-dark: rgb(0, 90, 165);



	--scrollbar-track-color: rgb(36, 42, 48);
	--scrollbar-thumb-color: rgb(70, 77, 84);

	--slider-track: rgb(40, 44, 48);
	--slider-thumb: #c0c0c0;
}

input.form-control {	
	/*background-color: var(--slider-track);
	border-color: var(--main-bg-color);
	color: var(--main-font-color);*/
}

body {
	/*background-color: var(--main-bg-color);*/
	background-color: indianred;
	color: var(--main-font-color);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	/*background-color: var(--scrollbar-thumb-color);*/
}
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border: 0px none #ffffff;
	border-radius: 50vw;
}
::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
	border: 0px none #ffffff;
	border-radius: 50vw;

	/*padding: 5px;
	margin: 5px;*/
}
::-webkit-scrollbar-corner {
	background: var(--scrollbar-track-color);
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 18px;
	cursor: pointer;
	box-shadow: 1.1px 1.1px 5.3px rgba(0, 0, 0, 0.47), 0px 0px 1.1px rgba(13, 13, 13, 0.47);
	background: #c8d2dc;
	border-radius: 10.9px;
	border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 1.8px rgba(13, 13, 13, 0.49);
	border: 0px solid #c8c8c8;
	height: 15px;
	width: 34px;
	border-radius: 28px;
	background: #f0f0f0;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 18px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #b8c5d2;
	border: 0px solid #000101;
	border-radius: 21.8px;
	box-shadow: 1.1px 1.1px 5.3px rgba(0, 0, 0, 0.47), 0px 0px 1.1px rgba(13, 13, 13, 0.47);
}
input[type=range]::-ms-fill-upper {
	background: #c8d2dc;
	border: 0px solid #000101;
	border-radius: 21.8px;
	box-shadow: 1.1px 1.1px 5.3px rgba(0, 0, 0, 0.47), 0px 0px 1.1px rgba(13, 13, 13, 0.47);
}
input[type=range]::-ms-thumb {
	box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 1.8px rgba(13, 13, 13, 0.49);
	border: 0px solid #c8c8c8;
	width: 34px;
	border-radius: 28px;
	background: #f0f0f0;
	cursor: pointer;
	height: 15px;
}
/*input[type=range]:focus::-ms-fill-lower {
	background: #c8d2dc;
}
input[type=range]:focus::-ms-fill-upper {
	background: #d8dfe6;
}*/
