body[theme=light] {
	--color-1: rgb(255, 255, 255);
	--color-2: rgb(240, 240, 240);
	--color-3: rgb(210, 210, 210);
	--color-4: royalblue; /*rgb(190, 190, 190);*/

	--main-bg-color: var(--color-1);
	--main-font-color: rgb(50, 50, 50);
	--main-link-color: rgb(0, 111, 255);

	--shadow-color: rgba(0, 0, 0, 0.8);

	--modules-header-color: var(--color-4);
	--modules-bg-color: var(--color-2);
	
	--blocks-bg-color: var(--color-1);

	--orders-bg-color: var(--color-1);

	--accent-light: var(--color-3);
	--accent-dark: var(--color-4);



	--scrollbar-track-color: var(--color-3);
	--scrollbar-thumb-color: var(--color-4);

	--slider-track: rgb(170, 170, 170);
	--slider-thumb: #F0F0F0;
}

body[theme=dark] {
	--main-bg-color: rgb(30, 30, 30);
	--main-font-color: white;
	--main-link-color: #006FFF;

	--shadow-color: rgba(0, 0, 0, 0.8);

	--modules-bg-color: rgb(50, 50, 50);
	--modules-header-color: rgb(70, 70, 70);

	--blocks-bg-color: rgb(60, 60, 60);

	--orders-bg-color: rgba(0, 0, 0, 0.2);

	--accent-light: rgb(30, 30, 30);
	--accent-dark: rgb(0, 90, 165);



	--scrollbar-track-color: rgb(40, 40, 40);
	--scrollbar-thumb-color: rgb(70, 70, 70);

	--slider-track: rgb(40, 40, 40);
	--slider-thumb: #c0c0c0;
}

body[theme=dark-alt] {
	--main-bg-color: rgb(30, 33, 36);
	--main-font-color: white;
	--main-link-color: #006FFF;

	--shadow-color: rgba(4, 7, 10, 0.8);

	--modules-header-color: rgb(70, 77, 84);
	--modules-bg-color: rgb(50, 55, 60);

	--blocks-bg-color: rgb(60, 66, 72);

	--orders-bg-color: rgba(0, 0, 0, 0.2);

	--accent-light: rgb(30, 33, 36);
	--accent-dark: rgb(0, 90, 165);



	--scrollbar-track-color: rgb(36, 42, 48);
	--scrollbar-thumb-color: rgb(70, 77, 84);

	--slider-track: rgb(40, 44, 48);
	--slider-thumb: #c0c0c0;
}

body {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background-color: royalblue;
	color: var(--main-font-color);
	font-weight: 100;
}

.horizontal-scroll {
	overflow-x: scroll;
	overflow-y: hidden; 
	white-space: nowrap;
}
.horizontal-scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.horizontal-scroll::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	/*background-color: var(--scrollbar-thumb-color);*/
}
.horizontal-scroll::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border: 0px none #ffffff;
	border-radius: 50vw;
}
.horizontal-scroll::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
	border: 0px none #ffffff;
	border-radius: 50vw;
	/*padding: 5px;
	margin: 5px;*/
}
.horizontal-scroll::-webkit-scrollbar-corner {
	background: var(--scrollbar-track-color);
}

form-group {
	-webkit-tap-highlight-color: transparent;
	display: block;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	text-size-adjust: 100%;
}
form-group + form-group {
	margin-top: 12px;
}
label {
	opacity: 0.6;
	font-size: 14px;
	margin-bottom: 4px;
}
field {
	display: block;
	font-size: 16px; 
	overflow: scroll; 
	padding: 6px 12px;
	border-style: dashed;
	border-width: 1px;
	border-radius: 10px; 
	border-color: var(--modules-header-color);
	color: var(--main-font-color);
}
field::-webkit-scrollbar {
	height: 0px !important;
	width: 0px !important;
}
/*field.editable {
  	position: relative;
}
field.editable::after {
	content: '';
	display: block;
	position: absolute;
	right: 12px;
  	top: 6px;
  	bottom: 6px;
  	height: 1.5em;
	width: 1.5em;
  	background-image: url('https://image.flaticon.com/icons/svg/61/61456.svg');
  	background-size: 70%;
  	background-repeat: no-repeat;
  	background-position: center;
  	cursor: pointer;
  	opacity: 0.5;
  	z-index: 10;
}
field.editable::after:hover {
	opacity: 0.8;
}*/

input[type=text] {	
	border-radius: 10px;
	border-width: 1px;
	background-color: white;
	border-color: royalblue;
	color: black;
	padding: 6px 12px;
}

input[type=text]:focus {
	border-color: palevioletred;
	box-shadow: none;
}

